andpatterns.expected
andpatterns.hopix
andpatterns2.expected
andpatterns2.hopix
anonymous.expected
anonymous.hopix
apply.expected
apply.hopix
arith.expected
arith.hopix
arith2.expected
arith2.hopix
arith3.expected
arith3.hopix
arith4.expected
arith4.hopix
arith5.expected
arith5.hopix
bool.expected
bool.hopix
bst.expected
bst.hopix
bstlarge.expected
bstlarge.hopix
case.expected
case.hopix
charpatterns.expected
charpatterns.hopix
circular.expected
circular.hopix
circular2.expected
circular2.hopix
cmp.expected
cmp.hopix
deep.expected
deep.hopix
external.expected
external.hopix
fact.expected
fact.hopix
fact2.expected
fact2.hopix
fibo.expected
fibo.hopix
fun.expected
fun.hopix
global.expected
global.hopix
global2.expected
global2.hopix
id.expected
id.hopix
idapp.expected
idapp.hopix
if.expected
if.hopix
if1.expected
if1.hopix
if2.expected
if2.hopix
if3.expected
if3.hopix
if4.expected
if4.hopix
int.expected
int.hopix
int10.expected
int10.hopix
int11.expected
int11.hopix
int12.expected
int12.hopix
int13.expected
int13.hopix
int2.expected
int2.hopix
int3.expected
int3.hopix
int4.expected
int4.hopix
int5.expected
int5.hopix
int6.expected
int6.hopix
int7.expected
int7.hopix
int8.expected
int8.hopix
int9.expected
int9.hopix
intpatterns.expected
intpatterns.hopix
list.expected
list.hopix
list2.expected
list2.hopix
list3.expected
list3.hopix
list4.expected
list4.hopix
list5.expected
list5.hopix
list6.expected
list6.hopix
list7.expected
list7.hopix
list8.expected
list8.hopix
list9.expected
list9.hopix
litpatterns.expected
litpatterns.hopix
litpatterns2.expected
litpatterns2.hopix
litpatterns3.expected
litpatterns3.hopix
local.expected
local.hopix
local1.expected
local1.hopix
match.expected
match.hopix
memory.expected
memory.hopix
memory1.expected
memory1.hopix
memory2.expected
memory2.hopix
mergesort.expected
mergesort.hopix
multipatterns.expected
multipatterns.hopix
mutrec.expected
mutrec.hopix
mutrec2.expected
mutrec2.hopix
noarg.expected
noarg.hopix
option.expected
option.hopix
option2.expected
option2.hopix
orpatterns.expected
orpatterns.hopix
orpatterns2.expected
orpatterns2.hopix
patterns.expected
patterns.hopix
polymorphism.expected
polymorphism.hopix
polymorphism2.expected
polymorphism2.hopix
polymorphism3.expected
polymorphism3.hopix
polymorphism4.expected
polymorphism4.hopix
polymorphism5.expected
polymorphism5.hopix
ref.expected
ref.hopix
ref2.expected
ref2.hopix
ref3.expected
ref3.hopix
restrictpoly.expected
restrictpoly.hopix
singleton.expected
singleton.hopix
slam.expected
slam.hopix
string.expected
string.hopix
stringpatterns.expected
stringpatterns.hopix
sum.expected
sum.hopix
sum2.expected
sum2.hopix
tuple.expected
tuple.hopix
