anonymous.expected
anonymous.hopix
arith.expected
arith.hopix
arith2.expected
arith2.hopix
cmp.expected
cmp.hopix
fact.expected
fact.hopix
fibo.expected
fibo.hopix
global.expected
global.hopix
int.expected
int.hopix
list.expected
list.hopix
list2.expected
list2.hopix
list3.expected
list3.hopix
list4.expected
list4.hopix
list5.expected
list5.hopix
list6.expected
list6.hopix
list7.expected
list7.hopix
list8.expected
list8.hopix
list9.expected
list9.hopix
match.expected
match.hopix
mutrec.expected
mutrec.hopix
mutrec2.expected
mutrec2.hopix
option.expected
option.hopix
ref.expected
ref.hopix
singleton.expected
singleton.hopix
sum.expected
sum.hopix
sum2.expected
sum2.hopix
tuple.expected
tuple.hopix
