ack.expected
ack.fopix
array.expected
array.fopix
binop1.expected
binop1.fopix
binop2.expected
binop2.fopix
binop3.expected
binop3.fopix
binop4.expected
binop4.fopix
binop5.expected
binop5.fopix
binopComp1.expected
binopComp1.fopix
binopComp2.expected
binopComp2.fopix
binopComp3.expected
binopComp3.fopix
binopComp4.expected
binopComp4.fopix
binopComp.expected
binopComp.fopix
defdef.expected
defdef.fopix
fact.expected
fact.fopix
factopt.expected
factopt.fopix
fun1.expected
fun1.fopix
fun2.expected
fun2.fopix
fun3.expected
fun3.fopix
fun4.expected
fun4.fopix
if.expected
if.fopix
let2.expected
let2.fopix
let.expected
let.fopix
listmap.expected
listmap.fopix
newArray.expected
newArray.fopix
treelist.expected
treelist.fopix
val1.expected
val1.fopix
val2.expected
val2.fopix
val3.expected
val3.fopix
var1.expected
var1.fopix
